.topbar_color{
    background:#b5d5ff;
}
.topbar_bg{
    background:url(../../image/topbar_bg.png) no-repeat center;
    background-size:contain;
    padding:50px;
}
.login_window{
    margin-top:100px;
}
.logo{
    background:url(../../image/logo.png) no-repeat right;
    background-size:contain;
    padding:50px;
    text-decoration-color:white;
    font-family:Microsoft YaHei;
}

.course_bg{
    background:url(../../image/5.jpg) no-repeat center;
    background-size:contain;
    padding:50px;
}
