<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="container-fluid"  ng-controller="courseCtrl">
        <div id="page" class="row">
            <div id="guide" class="col-md-3 col-xs-3" style="margin-top:100px">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" ng-repeat="unit in units">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{unit.id}}" aria-expanded="false" aria-controls="{{unit.id}}" ng-click="changeUnit(unit)">
                                    第{{unit.id}}单元&nbsp;&nbsp;&nbsp;&nbsp;{{unit.name}}
                                </a>
                            </h4>
                        </div>
                        <div id="{{unit.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table table-hover" style="width:70%">
                                    <tbody>
                                        <tr ng-repeat="knowledge in knowledges" class="text-center" ng-click="changeKnowledge(knowledge)">
                                            <td ng-show="{{knowledge.unitId}} == {{unit.id}}">{{knowledge.id}}</td>
                                            <td ng-show="{{knowledge.unitId}} == {{unit.id}}">{{knowledge.name}}</td>
                                        </tr>
                                        <tr ng-click="openAddKnowledge(unit)">
                                            <td colspan="2">添加知识点...</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#" aria-expanded="false" aria-controls="" ng-click="openAddUnit()">
                                    添加新单元...
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="col-md-9 col-xs-9">
                <div class="tab-content" style="margin-left:20px">
                    <div class="row" style="margin-top:100px;background:#b5d5ff">
                        <h4 style="margin-left:20px">课程信息</h4>
                    </div>
                    <div class="row" style="margin:20px">
                        <table class="table" style="width:100%">
                            <thead>
                                <tr class="text-center" style="background:#b5d5ff">
                                    <td>课程号</td>
                                    <td>课程名称</td>
                                    <td>课程大纲</td>
                                    <td>实验大纲</td>
                                    <td>教学日历</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td>{{currentCourse.id}}</td>
                                    <td>{{currentCourse.name}}</td>
                                    <td>
                                        <button class="btn btn-primary" ng-click="showFileContent(1)">{{currentCourse.programs}}</button>
                                    </td>
                                    <td><button class="btn btn-primary" ng-click="showFileContent(2)">{{currentCourse.experiments}}</button></td>
                                    <td><button class="btn btn-primary" ng-click="showFileContent(3)">{{currentCourse.times}}</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" style="margin-top:20px;background:#b5d5ff">
                        <h4 style="margin-left:20px">文件内容</h4>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <iframe name="fileContent" style="overflow: hidden; border:none;width:100%;height:450px"></iframe>
                    </div>
            </div>
        </div>
    </div>
    <script src="../../JavaScript/myJS/homeJs.js"></script>

    <script type="text/ng-template" id="addUnit.html">
        <div>
            <div id="addData" class="modal fade" data-keyboard="false"
                 data-backdrop="static" data-role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="loading" class="loading">添加中。。。</div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="title">请填写单元信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">单元编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="newId" placeholder="单元编号(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">单元名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="newName" placeholder="单元名称(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属课程</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="courseName" placeholder="下拉框(必填项)" ng-disabled="true">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="submitNewUnit()">确认</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="addKnowledge.html">
        <div>
            <div id="addData" class="modal fade" data-keyboard="false"
                 data-backdrop="static" data-role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="loading" class="loading">添加中。。。</div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="title">请填写知识点信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">知识点编号</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="newId" placeholder="知识点编号(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">知识点名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="newName" placeholder="知识点名称(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属课程</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="courseName" placeholder="下拉框(必填项)" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">所属课程单元</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" ng-model="unitName" placeholder="下拉框(必填项)" ng-disabled="true">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="submitNewKnowledge()">确认</button>
            </div>
        </div>
    </script>
    </div>
</body>
</html>
