<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="courseCtrl">
    <div class="container-fluid">
        <div id="operate" class="modal fade" data-keyboard="false"
             data-backdrop="static" data-role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div id="loading" class="loading">提交中。。。</div>
        </div>
        <div id="loadData" class="modal fade" data-keyboard="false"
             data-backdrop="static" data-role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div id="loading" class="loading">加载中。。。</div>
        </div>
        <div class="row text-center" style="margin-top:20px">
            <h2>{{courseName}}</h2>
        </div>
        <div class="row" style="margin-top:20px;background:#b5d5ff">
            <h4 style="margin-left:20px">课程信息</h4>
        </div>
        <div class="row" style="margin-top:20px">
            <table class="table" style="width:100%">
                <thead>
                    <tr class="text-center" style="background:#b5d5ff">
                        <td>课程号</td>
                        <td>课程名称</td>
                        <td>课程大纲</td>
                        <td>实验大纲</td>
                        <td>教学日历</td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center">
                        <td>{{currentCourse.id}}</td>
                        <td>{{currentCourse.name}}</td>
                        <td>
                            <button class="btn btn-primary" ng-click="showFileContent(1)">{{currentCourse.programs}}</button>
                        </td>
                        <td><button class="btn btn-primary" ng-click="showFileContent(2)">{{currentCourse.experiments}}</button></td>
                        <td><button class="btn btn-primary" ng-click="showFileContent(3)">{{currentCourse.times}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" style="margin-top:20px;background:#b5d5ff">
            <h4 style="margin-left:20px">课程单元&知识点</h4>
        </div>
        <div class="row" style="margin-top:20px">
            <div class="col-xs-4">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default" ng-repeat="unit in units">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{unit.id}}" aria-expanded="false" aria-controls="{{unit.id}}" ng-click="changeUnit(unit)">
                                    第{{unit.id}}单元&nbsp;&nbsp;&nbsp;&nbsp;{{unit.name}}
                                </a>
                            </h4>
                        </div>
                        <div id="{{unit.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table table-hover" style="width:70%">
                                    <tbody>
                                        <tr ng-repeat="knowledge in knowledges" class="text-center" ng-click="changeKnowledge(knowledge)">
                                            <td ng-show="{{knowledge.unitId}} == {{unit.id}}">{{knowledge.id}}</td>
                                            <td ng-show="{{knowledge.unitId}} == {{unit.id}}">{{knowledge.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-offset-1 col-xs-6">
                <div style="height:50%">
                    <div class="row text-right" style="margin-top:10px;margin-right:50px">
                        <button class="btn btn-primary" ng-click="openAddUnit()">添加</button>
                        <button class="btn btn-danger" ng-click="deleteUnit(currentUnit.id)">删除</button>
                        <button class="btn btn-success" ng-click="openModifyName(currentUnit, 1)">修改</button>
                    </div>
                    <div class="row text-center" style="margin-top:10px">
                        <table class="table" style="width:100%">
                            <thead>
                                <tr class="text-center" style="background:#b5d5ff">
                                    <td style="width:40%">当前单元号</td>
                                    <td style="width:60%">当前单元名称</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td style="width:40%">{{currentUnit.id}}</td>
                                    <td style="width:60%">{{currentUnit.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="height:50%;margin-top:20px">
                    <div class="row text-right" style="margin-top:10px;margin-right:50px">
                        <button class="btn btn-primary" ng-click="openAddKnowledge(currentUnit)">添加</button>
                        <button class="btn btn-danger" ng-click="deleteKnowlwdge(currentKnowledge.id)">删除</button>
                        <button class="btn btn-success" ng-click="openModifyName(currentKnowledge, 2)">修改</button>
                    </div>
                    <div class="row text-center" style="margin-top:10px">
                        <table class="table" style="width:100%">
                            <thead>
                                <tr class="text-center" style="background:#b5d5ff">
                                    <td style="width:40%">当前知识点号</td>
                                    <td style="width:60%">当前知识点名称</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td style="width:40%">{{currentKnowledge.id}}</td>
                                    <td style="width:60%">{{currentKnowledge.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!--<script type="text/javascript">
        var list = document.querySelectorAll('.list');

        function accordion(e) {
            e.stopPropagation();
            if (this.classList.contains('active')) {
                this.classList.remove('active');
            } else
                if (this.parentElement.parentElement.classList.contains('active')) {
                    this.classList.add('active');
                } else {
                    for (i = 0; i < list.length; i++) {
                        list[i].classList.remove('active');
                    }
                    this.classList.add('active');
                }
        }
        for (i = 0; i < list.length; i++) {
            list[i].addEventListener('click', accordion);
        }
    </script>-->

        <script type="text/ng-template" id="uploadFile.html">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title" id="title">上传</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择文件</label>
                            <div class="col-sm-8">
                                <input type="file" id="courseFile" onchange='angular.element(this).scope().fileChanged(this)'>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary" ng-click="upload()">上传</button>
                            </div>
                        </div>
                    </form>
                    <div id="myModal" class="modal fade" data-keyboard="false"
                         data-backdrop="static" data-role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div id="loading" class="loading">上传中。。。</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="submitFile()">确认</button>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="modifyName.html">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title" id="title">请修改名称</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="newName" placeholder="名称(必填项)">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="submitNewName()">确认</button>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="addUnit.html">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title" id="title">请填写单元信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单元编号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="newId" placeholder="单元编号(必填项)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">单元名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="newName" placeholder="单元名称(必填项)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属课程</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="courseName" placeholder="下拉框(必填项)" ng-disabled="true">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="submitNewUnit()">确认</button>
                </div>
            </div>
        </script>

        <script type="text/ng-template" id="addKnowledge.html">
            <div>
                <div class="modal-header">
                    <h4 class="modal-title" id="title">请填写知识点信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">知识点编号</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="newId" placeholder="知识点编号(必填项)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">知识点名称</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="newName" placeholder="知识点名称(必填项)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属课程</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="courseName" placeholder="下拉框(必填项)" ng-disabled="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属课程单元</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="unitName" placeholder="下拉框(必填项)" ng-disabled="true">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                    <button type="button" class="btn btn-primary" ng-click="submitNewKnowledge()">确认</button>
                </div>
            </div>
        </script>

        
        <!--<div class="row text-right" style="margin-top:20px;margin-right:50px">
            <button class="btn btn-primary" ng-click="openAddCourse()">添加</button>
            <button class="btn btn-danger" ng-click="deleteCourse()">删除</button>
            <button class="btn btn-success" ng-click="modifyCourseInfo()">修改</button>
        </div>
        <div class="row" style="margin-top:20px">
            <table class="table table-hover" style="width:100%">
                <thead>
                    <tr class="text-center" style="background:#b5d5ff">
                        <td><input type="checkbox" ng-model="$parent.allChecked" ng-change="chooseAll()" /></td>
                        <td>序号</td>
                        <td>课程号</td>
                        <td>课程名称</td>
                        <td>课程大纲</td>
                        <td>实验大纲</td>
                        <td>教学日历</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="course in courses" class="text-center">
                        <td><input type="checkbox" ng-model="course.checked" ng-click="chooseCourse($index)" /></td>
                        <td>{{$index + 1}}</td>
                        <td>{{course.id}}</td>
                        <td>{{course.name}}</td>
                        <td><button class="btn btn-primary" ng-click="showFileContent($index, 1)">{{course.programs}}</button></td>
                        <td><button class="btn btn-primary" ng-click="showFileContent($index, 2)">{{course.experiments}}</button></td>
                        <td><button class="btn btn-primary" ng-click="showFileContent($index, 3)">{{course.times}}</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="addCourses.html">
        <div>
            <div class="modal-header">
                <h4 class="modal-title" id="title">请填写课程信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="courseId" placeholder="课程号(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="courseName" placeholder="课程名称(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课程大纲</label>
                        <div class="col-sm-8">
                            <input type="file" name="file" ng-src={{files[0].name}} onchange='angular.element(this).scope().fileChanged(this)' />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" ng-click="addFile(1)">上传</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">实验大纲</label>
                        <div class="col-sm-8">
                            <input type="file" name="file" ng-src={{files[0].name}} onchange='angular.element(this).scope().fileChanged(this)' />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" ng-click="addFile(2)">上传</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">教学日历</label>
                        <div class="col-sm-8">
                            <input type="file" name="file" ng-src={{files[0].name}} onchange='angular.element(this).scope().fileChanged(this)' />
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary" ng-click="addFile(3)">上传</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="submitCourseInfo()">确认</button>
            </div>
        </div>
    </script>-->
    </div>

</body>
</html>
