<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
</head>
<body ng-controller="examinationCtrl">
    <div class="container-fluid">
        <div class="row text-center" style="margin-top:20px">
            <h2>自动组卷</h2>
        </div>
        <div class="row" style="margin-top:20px;background:#b5d5ff">
            <h4 style="margin-left:20px">组卷条件</h4>
        </div>
        <div class="row" style="margin-top:20px">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">选择课程</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="courseId" placeholder="班号(必填项)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">试卷总题数</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="paperNum" placeholder="试卷题目总数(必填项)">
                    </div>
                </div>
                <div class="form-group" ng-repeat="unit in units">
                    <label class="col-sm-2 control-label">每单元的占比（填写0-1）</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="weight{{$index+1}}" placeholder="试卷题目总数(必填项)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">按钮</label>
                    <div class="col-sm-10">
                        <button ng-click="begin()">开始组卷</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
