<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../../CSS/common/bootstrap.min.css" />
    <link rel="stylesheet" href="../../CSS/myCSS/myCss.css" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../../CSS/myCSS/style.css" />
    <script src="../../JavaScript/common/angular.min.js"></script>
    <script src="../../JavaScript/common/jquery.min.js"></script>
    <script src="../../JavaScript/common/bootstrap.min.js"></script>
    <script src="../../JavaScript/common/ui-bootstrap-tpls.min.js"></script>
    <script src="../../JavaScript/common/Bmob-1.6.3.min.js"></script>
    <script src="../../JavaScript/common/xlsx.core.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="examinationCtrl">
    <div class="container-fluid"> 
        <div id="loadExamDetailData" class="modal fade" data-keyboard="false"
             data-backdrop="static" data-role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div id="loading" class="loading">加载中。。。</div>
        </div>
        <div class="row text-center" style="margin-top:20px">
            <h2>{{examName}}</h2>
        </div>
        <div class="row text-right" style="margin-top:10px;margin-right:50px">
            <button class="btn btn-success" ng-click="save()">保存</button>
        </div>
        <!--<div class="row" style="margin-top:20px;background:#b5d5ff">
            <h4 style="margin-left:20px">试卷详情</h4>
        </div>-->
        <div class="row" style="margin-top:10px; overflow-x:auto;">
            <table class="table table-hover" style="text-align:center; table-layout:fixed; word-break:break-all;">
                <thead>
                    <tr class="text-center" style="background:#b5d5ff">
                        <td width="45px">序号</td>
                        <td width="200px">题目内容</td>              
                        <td width="130px">所属课程单元编号</td>
                        <td width="115px">涉及知识点编号</td>
                        <td width="100px">难度系数</td>
                        <td width="100px">修改题目</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="question in examQuestionsInfo" class="text-center">
                        <td>{{$index + 1}}</td>
                        <td>{{question.question}}</td>
                        <td>{{question.unitId}} </td>
                        <td>{{question.knowledgeId}} </td>
                        <td>{{question.difficulty}} </td>
                        <td><button class="btn btn-primary" ng-click="modifyQuestion($index)">修改</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/ng-template" id="updatExamQuestion.html">
        <div>
            <div id="updataExamDetailData" class="modal fade" data-keyboard="false"
                 data-backdrop="static" data-role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="loading" class="loading">修改中。。。</div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="title">请修改试卷的题目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">此题目所属课程单元号为{{currentQuesUnitId}}</label>
                        <!--<h5 class="col-sm-4" style="margin-left:6px; font-weight:bold;">此题目所属课程单元为{{currentQuestionUnitId}}</h5>-->
                        <div class="col-sm-6">
                            <select ng-model="unitId" class="form-control" ng-options="unit.id as unit.name for unit in unitInfo" ng-change="selectedKnowledge(unitId)">
                                <option value="">---请选择所属课程单元---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">此题目涉及知识点编号为{{currentQuesKnowledgeId}}</label>
                        <div class="col-sm-6">
                            <select ng-model="knowledgeId" class="form-control" ng-options="knowledge.id as knowledge.name for knowledge in knowledgeInfo" ng-change="selectedQuestion(unitId,knowledgeId,{{currentQuesDifficulty}})">
                                <option value="">---请选择涉及知识点---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label class="col-sm-4 control-label">此题目难度系数为{{currentQuesDifficulty}}</label>-->
                        <div class="col-sm-10">
                            <select ng-model="questionId" class="form-control" ng-options="question.id as question.question for question in questionInfo">
                                <option value="">----------请在以下题目中进行选择----------</option>
                            </select>
                        </div>
                    </div>
                </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                        <button type="button" class="btn btn-primary" ng-click="submitExamInfo()">确认</button>
                    </div>
            </div>
</script>
    <script src="../../JavaScript/myJS/homeJs.js"></script>
</body>
</html>
