<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="classCtrl">
    <div class="container-fluid">
        <div id="loadClassData" class="modal fade" data-keyboard="false"
             data-backdrop="static" data-role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div id="loading" class="loading">加载中。。。</div>
        </div>
        <div id="deleteClassData" class="modal fade" data-keyboard="false"
             data-backdrop="static" data-role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div id="loading" class="loading">删除中。。。</div>
        </div>
        
        <div class="row text-center" style="margin-top:20px">
            <h2>班级信息</h2>
        </div>
        <div class="row text-right" style="margin-top:20px;margin-right:50px">
            <button class="btn btn-primary" ng-click="openAddClass()">添加</button>
            <button class="btn btn-danger" ng-click="deleteClass()">删除</button>
            <button class="btn btn-success" ng-click="modifyClassInfo()">修改</button>
        </div>
        <div class="row" style="margin-top:20px">
            <table class="table table-hover" style="width:100%">
                <thead>
                    <tr class="text-center" style="background:#b5d5ff" >
                        <td><input type="checkbox" ng-model="$parent.allChecked" ng-change="chooseAll()"/></td>
                        <td>序号</td>
                        <td>班号</td>
                        <td>班级名称</td>
                        <td>课表</td>
                        <td>学年</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="class in classes" class="text-center">
                        <td><input type="checkbox" ng-model="class.checked" ng-click="chooseClass($index)"/></td>
                        <td>{{$index + 1}}</td>
                        <td>{{class.id}}</td>
                        <td>{{class.name}}</td>
                        <!--<td>{{class.schedule}}</td>-->
                        <td>{{classSchedule[$index]}}</td>
                        <td>{{class.term}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script type="text/ng-template" id="addClasses.html">
        <div>
            <div id="addData" class="modal fade" data-keyboard="false"
                 data-backdrop="static" data-role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="loading" class="loading">添加中。。。</div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="title">请填写班级信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="classId" placeholder="班号(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班级名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="className" placeholder="班级名称(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课表</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="classSchedule" placeholder="课表">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学年</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="classTerm" placeholder="学年，例如：2018年第二学期写为2018-2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">注意事项</label>
                        <div class="col-sm-10" >
                            <textarea class="form-control" ng-disabled="true" style="height:200px">班级课表的输入格式:第一位表示第几周、二三位表示第几节上课、第四位标记单双周0为每周，1为单周，2为双周、五六位表示起始周、七八位表示终止周、最后六位表示上课地点，如：35620110WM1102，表示：周三56节双周1-10周WM1102</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="submitClassInfo()">确认</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="updateClasses.html">
        <div>
            <div id="updateData" class="modal fade" data-keyboard="false"
                 data-backdrop="static" data-role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div id="loading" class="loading">修改中。。。</div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="title">请修改班级信息</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" ng-repeat="x in classList">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="x.id" placeholder="班号(必填项)" ng-disabled="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">班级名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="x.name" placeholder="班级名称(必填项)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">课表</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="x.schedule" placeholder="课表">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学年</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="x.term" placeholder="学年，例如：2018年第二学期写为2018-2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">注意事项</label>
                        <div class="col-sm-10">
                            <p class="form-control">班级课表的输入格式</p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="closeDialog()">取消</button>
                <button type="button" class="btn btn-primary" ng-click="submitClassInfo()">确认</button>
            </div>
        </div>
    </script>

</body>
</html>
