<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-controller="studentCtrl">
    <div class="container-fluid">
        <div class="row text-center" style="margin-top:20px">
            <h2>学生信息</h2>
        </div>
        <div class="row" style="margin-top:20px;background:#b5d5ff">
            <h4 style="margin-left:20px">上传学生名单</h4>
        </div>
        <div class="row"style="margin-top:10px">
            <p>文件选择</p>
        </div>
        <div class="row" style="margin-top:20px;background:#b5d5ff">
            <h4 style="margin-left:20px">学生信息</h4>
        </div>
        <div class="row" style="margin-top:10px">
            <p>班级筛选</p>
            <p>学生信息显示</p>
        </div>
    </div>
</body>
</html>
