<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <script src="../JavaScript/angular.min.js"></script>
    <link rel="stylesheet" href="../CSS/common/bootstrap.min.css" />
    <link rel="stylesheet" href="../CSS/myCSS/login.css" />
</head>
<body>
    <div class="container-fluid">
        <div id="topbar" class="row topbar_color">
            <div class="col-xs-12 col-sm-6 col-md-8 topbar_bg">

            </div>
            <div class="col-xs-6 col-md-4 text-right">
                <a href="../index.html" target="_blank">退出登录</a>
            </div>
        </div>
        <div class="row topbar_color">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a href="#home" data-toggle="tab">首页</a></li>
                <li><a href="#class" data-toggle="tab">班级管理</a></li>
                <li><a href="#course" data-toggle="tab">课程管理</a></li>
                <li><a href="#" data-toggle="tab">文件管理</a></li>
                <li><a href="#" data-toggle="tab">题目管理</a></li>
                <li><a href="#" data-toggle="tab">试卷管理</a></li>
                <li><a href="#" data-toggle="tab">统计中心</a></li>
                <li><a href="#" data-toggle="tab">辅助功能</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
