<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>主页</title>
	<meta charset="utf-8" />

    <link rel="stylesheet" href="../CSS/common/bootstrap.min.css" />

    <script src="../JavaScript/common/angular.min.js"></script>
    <script src="../JavaScript/common/jquery.min.js"></script>
    <script src="../JavaScript/common/bootstrap.min.js"></script>
    <script src="../JavaScript/common/ui-bootstrap-tpls.min.js"></script>
    <script src="../JavaScript/common/Bmob-1.6.3.min.js"></script>
    <script src="../JavaScript/common/xlsx.core.min.js"></script>
    
</head>
<body ng-app="myApp">
    <div class="container-fluid">
        <div id="header" class="row" style="margin-top:0">
            <ng-include src="'header.html'"></ng-include>
        </div>
        <div class="row tab-content">
            <div id="home" class="tab-pane fade in active">
                <div ng-include="'introduction.html'"></div>
            </div>
            <div id="class" class="tab-pane fade">
                <div ng-include="'ClassView/classHomePage.html'"></div>
            </div>
            <div id="course" class="tab-pane fade">
                <div ng-include="'CourseView/courseHomePage.html'"></div>
            </div>
            <div ng-controller="questionCtrl" id="question" class="tab-pane fade">
                <div ng-include="'QuestionView/questionHomePage.html'"></div>
            </div>
            <div ng-controller="statisticCtrl" id="statistic" class="tab-pane fade">
                <div ng-include="'StatisticView/statisticHomePage.html'"></div>
            </div>
        </div>
        <!--<div id="footer" class="row">
            <ng-include src="'footer.html'"></ng-include>
        </div>-->
    </div>
    <script src="../JavaScript/myJS/homeJs.js"></script>
</body>
</html>
